.bundle
.rvmrc
db/*.sqlite3
log/*.log
*.sublime-workspace
*.sublime-project
log/*
tmp/**/*
.DS_Store
tmp/**/*
*.*~
.~lock*
*.swp
*.un~
*.swn
*.swm
*.swo
solr/data*
solr/pids*
public/assets
.sass-cache/
tags
.rsync_cache/
public/system/translations_thumbs/*
public/system/users/*
public/system/ckeditor/*
.zeus.sock
dump.rdb
public/sitemap.xml.gz
public/sitemap.xml
nohup.out
tmp/restart.txt
jm_dict.db
jp_tm.txt
.vagrant/*
short_abstracts_ja.ttl
short_abstracts_zh.ttl
short_abstracts_en.ttl
dict
dict1
dict2
japanese_unified_dict
